{% extends "auctions/layout.html" %}

{% block body %}

<h2>New Listing</h2>

{% if message %}
<div>{{ message }}</div>
{% endif %}

<form method="POST">{% csrf_token %}
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <input class="form-control" type="text" name="title" id="title" placeholder="Title">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="description" id="description" placeholder="Description">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="price" id="price" placeholder="Starting price">
            </div>
            <div class="form-group">
                <select class="form-control" name="category" id="category">
                    {% for category in categories %}
                        <option value="{{category.id}}">{{category.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input class="form-control" type="url" name="image" id="image" placeholder="https://www.images.com/image.jpg">
            </div>
            <input class="btn btn-primary" type="submit" value="Save">
        </div>
    </div>
</form>

{% endblock %}